/********** Defaults **********/

/* * {
    border: 1px solid red;
} */

:root {
    --theme-color-1: #004785;
    --theme-color-2: #057D82;
    --theme-color-3: #073763;
    --theme-color-4: #073763;
    --theme-color-5: #073763;
    --off-white: #f5f5f5;
    --text-color: #444444;
}

html {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: var(--text-color);
    position: relative;
    scroll-behavior: smooth;
}

body {
    position: relative;
    left: 0px;
    margin-top: 0;
    overflow-x: hidden;
    transition-property: left;
    transition-duration: 0.5s;
}

a {
    cursor: pointer;
    color: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 2.5rem;
}

h2, .h2 {
    font-size: 2rem;
}

h3, .h3 {
    font-size: 1.75rem;
}

h4, .h4 {
    font-size: 1.5rem;
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

p, .p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/********** General (some styles from Bootstrap) **********/

.text-center {
    text-align: center !important;
}

#main-content {
    overflow: hidden;
}

.pad-top-1p5rem {
    padding-top: 1.5rem !important;
}

.pad-top-3rem {
    padding-top: 3rem !important;
}

#main-content .container, #main-content .container-fluid {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#main-content .row>div {
    padding-bottom: 3rem;
}

.navbar, #nav-slider, #footer {
    overflow-x: hidden;
}

ul>li {
    margin-bottom: 8px;
    list-style: none;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-none {
    float: none !important;
}

@media (min-width: 576px) {
    .float-sm-left {
        float: left !important;
    }
    .float-sm-right {
        float: right !important;
    }
    .float-sm-none {
        float: none !important;
    }
}

@media (min-width: 768px) {
    .float-md-left {
        float: left !important;
    }
    .float-md-right {
        float: right !important;
    }
    .float-md-none {
        float: none !important;
    }
}

@media (min-width: 992px) {
    .float-lg-left {
        float: left !important;
    }
    .float-lg-right {
        float: right !important;
    }
    .float-lg-none {
        float: none !important;
    }
}

@media (min-width: 1200px) {
    .float-xl-left {
        float: left !important;
    }
    .float-xl-right {
        float: right !important;
    }
    .float-xl-none {
        float: none !important;
    }
}

/********** Themes **********/

body .theme-1-text {
    color: var(--theme-color-1);
}

body .theme-1-background {
    background-color: var(--theme-color-1);
}

body .theme-2-text {
    color: var(--theme-color-2);
}

body .theme-2-background {
    background-color: var(--theme-color-2);
}

body .white-text {
    color: white;
}

body .white-background {
    background-color: white;
}

body .off-white-background {
    background-color: var(--off-white);
}

body .text-color-text {
    color: var(--text-color);
}

body .text-color-background {
    background-color: var(--text-color);
}

/********** Features **********/

.blur {
    opacity: 0.6;
    filter: blur(2px);
}

.rounded-corners {
    border-radius: 5%;
}

.hide-compress-y {
    height: 0;
}

.bobbing-anim {
    animation-name: bobbing;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes bobbing {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}

div.fade-in-left {
    overflow-x: hidden;
    position: relative;
    left: -100px;
    opacity: 0;
    transition-property: left, opacity;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.5, 1);
}

div.fade-in-right {
    overflow-x: hidden;
    position: relative;
    left: 100px;
    opacity: 0;
    transition-property: left, opacity;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.5, 1);
}

div.fade-in-up {
    overflow-x: hidden;
    position: relative;
    top: 100px;
    opacity: 0;
    transition-property: top, opacity;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.5, 1);
}

div.fade-in-down {
    overflow-x: hidden;
    position: relative;
    top: -100px;
    opacity: 0;
    transition-property: top, opacity;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.5, 1);
}

div.fade-in-popout {
    overflow-x: hidden;
    position: relative;
    transform: scale(0, 0);
    transform-origin: top;
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 3s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.5, 1);
}

div.fade-in-show {
    overflow-x: hidden;
    position: relative;
    left: 0px;
    top: 0px;
    opacity: 1;
    transform: scale(1, 1);
}

/********** Media Queries **********/

/********** Extra Large devices only **********/

@media (min-width: 1200px) {}

/********** Large devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {}

/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {}

/********** Small devices only **********/

@media (min-width: 576px) and (max-width: 767px) {}

/********** Extra Small devices only **********/

@media (max-width: 575px) {}