/********** Jumbotron **********/

.text-over-jumbotron {
    font-family: 'EB Garamond', serif !important;
    font-weight: 600 !important;
    font-size: 5rem !important;
}

.subtext-over-jumbotron {
    font-weight: normal !important;
    font-size: 2rem !important;
}

/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
    .text-over-jumbotron {
        font-size: 4rem !important;
    }
    .subtext-over-jumbotron {
        font-size: 2rem !important;
    }
}

/********** Small devices only **********/

@media (min-width: 576px) and (max-width: 767px) {
    .text-over-jumbotron {
        font-size: 3rem !important;
    }
    .subtext-over-jumbotron {
        font-size: 1.5rem !important;
    }
}

/********** Extra Small devices only **********/

@media (max-width: 575px) {
    .text-over-jumbotron {
        font-size: 2rem !important;
    }
    .subtext-over-jumbotron {
        font-size: 1rem !important;
    }
}