.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1s;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 1s;
}

.sweep-enter {
    opacity: 0;
}

.sweep-enter-active {
    opacity: 1;
    transition: opacity 3s;
}

.sweep-exit {
    opacity: 1;
}

.sweep-exit-active {
    opacity: 0;
    transition: opacity 3s;
}